

.header{
  width: 100%;
  /* color:white; */
  text-align: center;
}

.headerBtn {
  margin-bottom: 50px;
  margin-right: 10px;
}

.ml-auto {
  margin-left: auto;
}
.ReadPosts {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  /* color:white; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

.bg-custom {
  background-color: #12bca2;
}